$primary: rgb(70,190,180);
$secondary: rgb(255,255,255);

$cta-padding: 10px;
$cta-border-spacing: 10px;

$element-v-padding: $cta-padding*3;
$element-h-padding: $cta-padding*1.2;

$container-v-padding: $element-v-padding*1.5;

$dark-grey: rgb(88,89,91);
$light-grey: rgb(128,130,133);
